# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.11.0=pypi_0
addict=2.4.0=pypi_0
anyio=2.2.0=pypi_0
argon2-cffi=20.1.0=pypi_0
async-generator=1.10=pypi_0
attrs=20.3.0=pypi_0
babel=2.9.0=pypi_0
backcall=0.2.0=pypi_0
blas=1.0=mkl
bleach=3.3.0=pypi_0
boost=1.73.0=py37_11
bzip2=1.0.8=h7b6447c_0
ca-certificates=2021.1.19=h06a4308_1
cachetools=4.2.1=pypi_0
certifi=2020.12.5=py37h06a4308_0
cffi=1.14.5=pypi_0
chardet=4.0.0=pypi_0
cudatoolkit=10.2.89=hfd86e86_1
cycler=0.10.0=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.7.1=pypi_0
entrypoints=0.3=pypi_0
freetype=2.10.4=h5ab3b9f_0
freetype-py=2.2.0=pypi_0
future=0.18.2=pypi_0
google-auth=1.27.0=pypi_0
google-auth-oauthlib=0.4.2=pypi_0
grpcio=1.36.1=pypi_0
hurry-filesize=0.9=pypi_0
icu=58.2=he6710b0_3
idna=2.10=pypi_0
imageio=2.9.0=pypi_0
importlib-metadata=3.7.0=pypi_0
intel-openmp=2020.2=254
ipykernel=5.5.0=pypi_0
ipympl=0.7.0=pypi_0
ipython=7.21.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.3=pypi_0
jedi=0.18.0=pypi_0
jinja2=2.11.3=pypi_0
joblib=1.0.1=pypi_0
jpeg=9b=h024ee3a_2
json5=0.9.5=pypi_0
jsonschema=3.2.0=pypi_0
jupyter-client=6.1.11=pypi_0
jupyter-core=4.7.1=pypi_0
jupyter-packaging=0.7.12=pypi_0
jupyter-server=1.4.1=pypi_0
jupyterlab=3.0.10=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-server=2.3.0=pypi_0
jupyterlab-widgets=1.0.0=pypi_0
kiwisolver=1.3.1=pypi_0
kornia=0.3.2=pypi_0
lcms2=2.11=h396b838_0
ld_impl_linux-64=2.33.1=h53a641e_7
libboost=1.73.0=h37e3b65_11
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libpng=1.6.37=hbc83047_0
libstdcxx-ng=9.1.0=hdf63c60_0
libtiff=4.1.0=h2733197_1
lz4-c=1.9.3=h2531618_0
markdown=3.3.4=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib=3.3.4=pypi_0
mistune=0.8.4=pypi_0
mkl=2020.2=256
mkl-service=2.3.0=py37he8ac12f_0
mkl_fft=1.3.0=py37h54f3939_0
mkl_random=1.1.1=py37h0573a6f_0
nbclassic=0.2.6=pypi_0
nbclient=0.5.3=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.1.2=pypi_0
ncurses=6.2=he6710b0_1
nest-asyncio=1.5.1=pypi_0
networkx=2.5=pypi_0
ninja=1.10.2=py37hff7bd54_0
notebook=6.2.0=pypi_0
numpy=1.19.2=py37h54aff64_0
numpy-base=1.19.2=py37hfa32c7d_0
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.1.0=pypi_0
olefile=0.46=py37_0
open3d=0.12.0=pypi_0
opencv-python=4.5.2.52=pypi_0
openssl=1.1.1j=h27cfd23_0
packaging=20.9=pypi_0
palettable=3.3.0=pypi_0
pandas=1.2.4=pypi_0
pandocfilters=1.4.3=pypi_0
parso=0.8.1=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.1.1=py37he98fc37_0
pip=21.0.1=py37h06a4308_0
plyfile=0.7.3=pypi_0
prometheus-client=0.9.0=pypi_0
prompt-toolkit=3.0.16=pypi_0
protobuf=3.15.4=pypi_0
psutil=5.8.0=pypi_0
ptyprocess=0.7.0=pypi_0
py-boost=1.73.0=py37h962f231_11
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pypi_0
pyglet=1.5.17=pypi_0
pygments=2.8.1=pypi_0
pyopengl=3.1.0=pypi_0
pyparsing=2.4.7=pypi_0
pyrender=0.1.45=pypi_0
pyrsistent=0.17.3=pypi_0
python=3.7.10=hdb3f193_0
python-dateutil=2.8.1=pypi_0
pytorch=1.5.1=py3.7_cuda10.2.89_cudnn7.6.5_0
pytorch-lightning=0.7.6=pypi_0
pytz=2021.1=pypi_0
pywavelets=1.1.1=pypi_0
pyyaml=5.4.1=pypi_0
pyzmq=22.0.3=pypi_0
readline=8.1=h27cfd23_0
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.7.2=pypi_0
scikit-image=0.18.1=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.6.1=pypi_0
send2trash=1.5.0=pypi_0
setuptools=52.0.0=py37h06a4308_0
six=1.15.0=py37h06a4308_0
sklearn=0.0=pypi_0
sniffio=1.2.0=pypi_0
sqlite=3.33.0=h62c20be_0
tensorboard=2.4.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
terminado=0.9.2=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pypi_0
tifffile=2021.3.5=pypi_0
tk=8.6.10=hbc83047_0
torch=1.5.1=pypi_0
torch-scatter=2.0.5=pypi_0
torchvision=0.6.1=py37_cu102
tornado=6.1=pypi_0
tqdm=4.58.0=pypi_0
traitlets=5.0.5=pypi_0
trimesh=3.9.20=pypi_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.3=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.4.0=pypi_0
zlib=1.2.11=h7b6447c_3
zstd=1.4.5=h9ceee32_0
